{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% include "_paginator.html" %}

<table class="table bg-dark text-white text-center table-hover" style="--bs-table-hover-color:white">
    <thead>
        <tr>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Pressure Drop" %}</th>
            <th scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for project in object_list %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.get_dPa|floatformat }} [Pa]</td>
          <td>
              <a class="btn btn-outline-success" href="{{ project.get_absolute_url }}" title="{% trans "See details" %}"><i class="bi bi-clipboard2-data"></i></a>
              <form action="{% url 'piping:delete_project' pk=project.pk %}" method="post" onsubmit="return confirm('{% trans "Delete the project " %} {{ project.name }}');">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
              </form>
          </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan=3>{% trans "No projects yet" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-3">
    <button type="button" class="btn btn-outline-success float-end" data-bs-toggle="modal" data-bs-target="#createProjectModal_id">
        {% trans "Create project" %}
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="createProjectModal_id" tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProjectModalLabel">{% trans "Create project" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'piping:add_project' %}" method="post" id="project_create_form_id">
                    {% csrf_token %}
                    {{ project_form|crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cerrar" %}</button>
                <button type="submit" class="btn btn-primary" form="project_create_form_id">{% trans "Create" %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}